* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */
.bg-con {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4faff;
}

.main-des {
  text-align: center;
  width: 50%;
  font-family: 'Roboto';
}

.main-head {
  color: #171f46;
  font-size: 42px;
}

.main-para {
  color: #64748b;
  font-size: 18px;
  padding-left : 20px;
  padding-right : 30px;
}

.all-cards-con {
  width: 60%;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}